Infos.Insacar.Web/ContabilidadInfos/App_WebReferences/SeguridadInfos/security.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/Security/Security.asmx" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/Security/Security.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/Security/Security.asmx">
      <s:element name="ValidarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idSys" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sitio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidarUsuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertaLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="operacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="empresa" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertaLogResponse">
        <s:complexType />
      </s:element>
      <s:element name="VerificaAccesoPagina">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sitio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pagina" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="empresa" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaAccesoPaginaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificaAccesoPaginaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaAccesoOperacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sitio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pagina" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="operacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="empresa" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaAccesoOperacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificaAccesoOperacionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaEmpresa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaEmpresaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RetornaEmpresaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarUsuario" />
  </wsdl:message>
  <wsdl:message name="ValidarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertaLogSoapIn">
    <wsdl:part name="parameters" element="tns:InsertaLog" />
  </wsdl:message>
  <wsdl:message name="InsertaLogSoapOut">
    <wsdl:part name="parameters" element="tns:InsertaLogResponse" />
  </wsdl:message>
  <wsdl:message name="VerificaAccesoPaginaSoapIn">
    <wsdl:part name="parameters" element="tns:VerificaAccesoPagina" />
  </wsdl:message>
  <wsdl:message name="VerificaAccesoPaginaSoapOut">
    <wsdl:part name="parameters" element="tns:VerificaAccesoPaginaResponse" />
  </wsdl:message>
  <wsdl:message name="VerificaAccesoOperacionSoapIn">
    <wsdl:part name="parameters" element="tns:VerificaAccesoOperacion" />
  </wsdl:message>
  <wsdl:message name="VerificaAccesoOperacionSoapOut">
    <wsdl:part name="parameters" element="tns:VerificaAccesoOperacionResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaEmpresaSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaEmpresa" />
  </wsdl:message>
  <wsdl:message name="RetornaEmpresaSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaEmpresaResponse" />
  </wsdl:message>
  <wsdl:portType name="SecuritySoap">
    <wsdl:operation name="ValidarUsuario">
      <wsdl:input message="tns:ValidarUsuarioSoapIn" />
      <wsdl:output message="tns:ValidarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertaLog">
      <wsdl:input message="tns:InsertaLogSoapIn" />
      <wsdl:output message="tns:InsertaLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificaAccesoPagina">
      <wsdl:input message="tns:VerificaAccesoPaginaSoapIn" />
      <wsdl:output message="tns:VerificaAccesoPaginaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificaAccesoOperacion">
      <wsdl:input message="tns:VerificaAccesoOperacionSoapIn" />
      <wsdl:output message="tns:VerificaAccesoOperacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaEmpresa">
      <wsdl:input message="tns:RetornaEmpresaSoapIn" />
      <wsdl:output message="tns:RetornaEmpresaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecuritySoap" type="tns:SecuritySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarUsuario">
      <soap:operation soapAction="http://tempuri.org/Security/Security.asmx/ValidarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaLog">
      <soap:operation soapAction="http://tempuri.org/Security/Security.asmx/InsertaLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaAccesoPagina">
      <soap:operation soapAction="http://tempuri.org/Security/Security.asmx/VerificaAccesoPagina" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaAccesoOperacion">
      <soap:operation soapAction="http://tempuri.org/Security/Security.asmx/VerificaAccesoOperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaEmpresa">
      <soap:operation soapAction="http://tempuri.org/Security/Security.asmx/RetornaEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SecuritySoap12" type="tns:SecuritySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarUsuario">
      <soap12:operation soapAction="http://tempuri.org/Security/Security.asmx/ValidarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaLog">
      <soap12:operation soapAction="http://tempuri.org/Security/Security.asmx/InsertaLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaAccesoPagina">
      <soap12:operation soapAction="http://tempuri.org/Security/Security.asmx/VerificaAccesoPagina" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaAccesoOperacion">
      <soap12:operation soapAction="http://tempuri.org/Security/Security.asmx/VerificaAccesoOperacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaEmpresa">
      <soap12:operation soapAction="http://tempuri.org/Security/Security.asmx/RetornaEmpresa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Security">
    <wsdl:port name="SecuritySoap" binding="tns:SecuritySoap">
      <soap:address location="http://192.168.2.52/SeguridadInfos/security.asmx" />
    </wsdl:port>
    <wsdl:port name="SecuritySoap12" binding="tns:SecuritySoap12">
      <soap12:address location="http://192.168.2.52/SeguridadInfos/security.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>