Infos.Padelma.Web/LaboratorioInfos/App_WebReferences/swBiocosta/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://190.254.182.61/swProgramacionPlanta/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://190.254.182.61/swProgramacionPlanta/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio web Biocosta de programaciones de despachos</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://190.254.182.61/swProgramacionPlanta/">
      <s:element name="programacionActivasPlanta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaI" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaF" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="programacionActivasPlantaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="programacionActivasPlantaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaProgramacionDespachos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="placa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaProgramacionDespachosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidaProgramacionDespachosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProgramacionDespachos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProgramacionDespachosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProgramacionDespachosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertaDespachos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ar" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="arFecha" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="bruto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ep" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="epFecha" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fp" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="fpFecha" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="neto" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pp" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="ppFecha" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="producto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="remision" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="remisionBiocosta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sellos" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sp" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="spFecha" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="tara" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertaDespachosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertaDespachosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="programacionActivasPlantaSoapIn">
    <wsdl:part name="parameters" element="tns:programacionActivasPlanta" />
  </wsdl:message>
  <wsdl:message name="programacionActivasPlantaSoapOut">
    <wsdl:part name="parameters" element="tns:programacionActivasPlantaResponse" />
  </wsdl:message>
  <wsdl:message name="ValidaProgramacionDespachosSoapIn">
    <wsdl:part name="parameters" element="tns:ValidaProgramacionDespachos" />
  </wsdl:message>
  <wsdl:message name="ValidaProgramacionDespachosSoapOut">
    <wsdl:part name="parameters" element="tns:ValidaProgramacionDespachosResponse" />
  </wsdl:message>
  <wsdl:message name="GetProgramacionDespachosSoapIn">
    <wsdl:part name="parameters" element="tns:GetProgramacionDespachos" />
  </wsdl:message>
  <wsdl:message name="GetProgramacionDespachosSoapOut">
    <wsdl:part name="parameters" element="tns:GetProgramacionDespachosResponse" />
  </wsdl:message>
  <wsdl:message name="InsertaDespachosSoapIn">
    <wsdl:part name="parameters" element="tns:InsertaDespachos" />
  </wsdl:message>
  <wsdl:message name="InsertaDespachosSoapOut">
    <wsdl:part name="parameters" element="tns:InsertaDespachosResponse" />
  </wsdl:message>
  <wsdl:message name="programacionActivasPlantaHttpGetIn">
    <wsdl:part name="usuario" type="s:string" />
    <wsdl:part name="contrasena" type="s:string" />
    <wsdl:part name="fechaI" type="s:string" />
    <wsdl:part name="fechaF" type="s:string" />
  </wsdl:message>
  <wsdl:message name="programacionActivasPlantaHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ValidaProgramacionDespachosHttpGetIn">
    <wsdl:part name="usuario" type="s:string" />
    <wsdl:part name="contrasena" type="s:string" />
    <wsdl:part name="placa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidaProgramacionDespachosHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetProgramacionDespachosHttpGetIn">
    <wsdl:part name="usuario" type="s:string" />
    <wsdl:part name="contrasena" type="s:string" />
    <wsdl:part name="numero" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProgramacionDespachosHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="InsertaDespachosHttpGetIn">
    <wsdl:part name="ar" type="s:string" />
    <wsdl:part name="arFecha" type="s:string" />
    <wsdl:part name="bruto" type="s:string" />
    <wsdl:part name="ep" type="s:string" />
    <wsdl:part name="epFecha" type="s:string" />
    <wsdl:part name="fp" type="s:string" />
    <wsdl:part name="fpFecha" type="s:string" />
    <wsdl:part name="neto" type="s:string" />
    <wsdl:part name="numero" type="s:string" />
    <wsdl:part name="pp" type="s:string" />
    <wsdl:part name="ppFecha" type="s:string" />
    <wsdl:part name="producto" type="s:string" />
    <wsdl:part name="remision" type="s:string" />
    <wsdl:part name="remisionBiocosta" type="s:string" />
    <wsdl:part name="sellos" type="s:string" />
    <wsdl:part name="sp" type="s:string" />
    <wsdl:part name="spFecha" type="s:string" />
    <wsdl:part name="tara" type="s:string" />
    <wsdl:part name="usuario" type="s:string" />
    <wsdl:part name="clave" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertaDespachosHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="programacionActivasPlantaHttpPostIn">
    <wsdl:part name="usuario" type="s:string" />
    <wsdl:part name="contrasena" type="s:string" />
    <wsdl:part name="fechaI" type="s:string" />
    <wsdl:part name="fechaF" type="s:string" />
  </wsdl:message>
  <wsdl:message name="programacionActivasPlantaHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ValidaProgramacionDespachosHttpPostIn">
    <wsdl:part name="usuario" type="s:string" />
    <wsdl:part name="contrasena" type="s:string" />
    <wsdl:part name="placa" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidaProgramacionDespachosHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetProgramacionDespachosHttpPostIn">
    <wsdl:part name="usuario" type="s:string" />
    <wsdl:part name="contrasena" type="s:string" />
    <wsdl:part name="numero" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProgramacionDespachosHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="InsertaDespachosHttpPostIn">
    <wsdl:part name="ar" type="s:string" />
    <wsdl:part name="arFecha" type="s:string" />
    <wsdl:part name="bruto" type="s:string" />
    <wsdl:part name="ep" type="s:string" />
    <wsdl:part name="epFecha" type="s:string" />
    <wsdl:part name="fp" type="s:string" />
    <wsdl:part name="fpFecha" type="s:string" />
    <wsdl:part name="neto" type="s:string" />
    <wsdl:part name="numero" type="s:string" />
    <wsdl:part name="pp" type="s:string" />
    <wsdl:part name="ppFecha" type="s:string" />
    <wsdl:part name="producto" type="s:string" />
    <wsdl:part name="remision" type="s:string" />
    <wsdl:part name="remisionBiocosta" type="s:string" />
    <wsdl:part name="sellos" type="s:string" />
    <wsdl:part name="sp" type="s:string" />
    <wsdl:part name="spFecha" type="s:string" />
    <wsdl:part name="tara" type="s:string" />
    <wsdl:part name="usuario" type="s:string" />
    <wsdl:part name="clave" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertaDespachosHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="swBiocostaSoap">
    <wsdl:operation name="programacionActivasPlanta">
      <wsdl:input message="tns:programacionActivasPlantaSoapIn" />
      <wsdl:output message="tns:programacionActivasPlantaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidaProgramacionDespachos">
      <wsdl:input message="tns:ValidaProgramacionDespachosSoapIn" />
      <wsdl:output message="tns:ValidaProgramacionDespachosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramacionDespachos">
      <wsdl:input message="tns:GetProgramacionDespachosSoapIn" />
      <wsdl:output message="tns:GetProgramacionDespachosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertaDespachos">
      <wsdl:input message="tns:InsertaDespachosSoapIn" />
      <wsdl:output message="tns:InsertaDespachosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="swBiocostaHttpGet">
    <wsdl:operation name="programacionActivasPlanta">
      <wsdl:input message="tns:programacionActivasPlantaHttpGetIn" />
      <wsdl:output message="tns:programacionActivasPlantaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidaProgramacionDespachos">
      <wsdl:input message="tns:ValidaProgramacionDespachosHttpGetIn" />
      <wsdl:output message="tns:ValidaProgramacionDespachosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramacionDespachos">
      <wsdl:input message="tns:GetProgramacionDespachosHttpGetIn" />
      <wsdl:output message="tns:GetProgramacionDespachosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertaDespachos">
      <wsdl:input message="tns:InsertaDespachosHttpGetIn" />
      <wsdl:output message="tns:InsertaDespachosHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="swBiocostaHttpPost">
    <wsdl:operation name="programacionActivasPlanta">
      <wsdl:input message="tns:programacionActivasPlantaHttpPostIn" />
      <wsdl:output message="tns:programacionActivasPlantaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidaProgramacionDespachos">
      <wsdl:input message="tns:ValidaProgramacionDespachosHttpPostIn" />
      <wsdl:output message="tns:ValidaProgramacionDespachosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramacionDespachos">
      <wsdl:input message="tns:GetProgramacionDespachosHttpPostIn" />
      <wsdl:output message="tns:GetProgramacionDespachosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertaDespachos">
      <wsdl:input message="tns:InsertaDespachosHttpPostIn" />
      <wsdl:output message="tns:InsertaDespachosHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="swBiocostaSoap" type="tns:swBiocostaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="programacionActivasPlanta">
      <soap:operation soapAction="http://190.254.182.61/swProgramacionPlanta/programacionActivasPlanta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaProgramacionDespachos">
      <soap:operation soapAction="http://190.254.182.61/swProgramacionPlanta/ValidaProgramacionDespachos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgramacionDespachos">
      <soap:operation soapAction="http://190.254.182.61/swProgramacionPlanta/GetProgramacionDespachos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaDespachos">
      <soap:operation soapAction="http://190.254.182.61/swProgramacionPlanta/InsertaDespachos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="swBiocostaSoap12" type="tns:swBiocostaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="programacionActivasPlanta">
      <soap12:operation soapAction="http://190.254.182.61/swProgramacionPlanta/programacionActivasPlanta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaProgramacionDespachos">
      <soap12:operation soapAction="http://190.254.182.61/swProgramacionPlanta/ValidaProgramacionDespachos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgramacionDespachos">
      <soap12:operation soapAction="http://190.254.182.61/swProgramacionPlanta/GetProgramacionDespachos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaDespachos">
      <soap12:operation soapAction="http://190.254.182.61/swProgramacionPlanta/InsertaDespachos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="swBiocostaHttpGet" type="tns:swBiocostaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="programacionActivasPlanta">
      <http:operation location="/programacionActivasPlanta" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaProgramacionDespachos">
      <http:operation location="/ValidaProgramacionDespachos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgramacionDespachos">
      <http:operation location="/GetProgramacionDespachos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaDespachos">
      <http:operation location="/InsertaDespachos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="swBiocostaHttpPost" type="tns:swBiocostaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="programacionActivasPlanta">
      <http:operation location="/programacionActivasPlanta" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaProgramacionDespachos">
      <http:operation location="/ValidaProgramacionDespachos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgramacionDespachos">
      <http:operation location="/GetProgramacionDespachos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaDespachos">
      <http:operation location="/InsertaDespachos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="swBiocosta">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio web Biocosta de programaciones de despachos</wsdl:documentation>
    <wsdl:port name="swBiocostaSoap" binding="tns:swBiocostaSoap">
      <soap:address location="http://186.1.182.138/swProgramacionPlanta/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="swBiocostaSoap12" binding="tns:swBiocostaSoap12">
      <soap12:address location="http://186.1.182.138/swProgramacionPlanta/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="swBiocostaHttpGet" binding="tns:swBiocostaHttpGet">
      <http:address location="http://186.1.182.138/swProgramacionPlanta/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="swBiocostaHttpPost" binding="tns:swBiocostaHttpPost">
      <http:address location="http://186.1.182.138/swProgramacionPlanta/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>