Infos.Padelma.Web/PorteriaInfos/App_WebReferences/ServicioBascula/ServiceBascula.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LeerPeso">
        <s:complexType />
      </s:element>
      <s:element name="LeerPesoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeerPesoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarTramaTablero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Argumentos" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Valores" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EnviarTramaTableroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarTramaTableroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarTramaGrabador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Argumentos" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Valores" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarTramaGrabadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarTramaGrabadorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarTramaSimpleGrabador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Argumentos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Valores" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarTramaSimpleGrabadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarTramaSimpleGrabadorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImprimirTiquteEMP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="impresora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="datos_tiquete" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImprimirTiquteEMPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImprimirTiquteEMPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImprimirTiqutePES">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="impresora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="datos_tiquete" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImprimirTiqutePESResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImprimirTiqutePESResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImprimirTiquteDES">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Impresora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="datos_tiquete" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImprimirTiquteDESResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImprimirTiquteDESResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LeerPesoSoapIn">
    <wsdl:part name="parameters" element="tns:LeerPeso" />
  </wsdl:message>
  <wsdl:message name="LeerPesoSoapOut">
    <wsdl:part name="parameters" element="tns:LeerPesoResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarTramaTableroSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarTramaTablero" />
  </wsdl:message>
  <wsdl:message name="EnviarTramaTableroSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarTramaTableroResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarTramaGrabadorSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarTramaGrabador" />
  </wsdl:message>
  <wsdl:message name="EnviarTramaGrabadorSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarTramaGrabadorResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarTramaSimpleGrabadorSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarTramaSimpleGrabador" />
  </wsdl:message>
  <wsdl:message name="EnviarTramaSimpleGrabadorSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarTramaSimpleGrabadorResponse" />
  </wsdl:message>
  <wsdl:message name="ImprimirTiquteEMPSoapIn">
    <wsdl:part name="parameters" element="tns:ImprimirTiquteEMP" />
  </wsdl:message>
  <wsdl:message name="ImprimirTiquteEMPSoapOut">
    <wsdl:part name="parameters" element="tns:ImprimirTiquteEMPResponse" />
  </wsdl:message>
  <wsdl:message name="ImprimirTiqutePESSoapIn">
    <wsdl:part name="parameters" element="tns:ImprimirTiqutePES" />
  </wsdl:message>
  <wsdl:message name="ImprimirTiqutePESSoapOut">
    <wsdl:part name="parameters" element="tns:ImprimirTiqutePESResponse" />
  </wsdl:message>
  <wsdl:message name="ImprimirTiquteDESSoapIn">
    <wsdl:part name="parameters" element="tns:ImprimirTiquteDES" />
  </wsdl:message>
  <wsdl:message name="ImprimirTiquteDESSoapOut">
    <wsdl:part name="parameters" element="tns:ImprimirTiquteDESResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="LeerPeso">
      <wsdl:input message="tns:LeerPesoSoapIn" />
      <wsdl:output message="tns:LeerPesoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarTramaTablero">
      <wsdl:input message="tns:EnviarTramaTableroSoapIn" />
      <wsdl:output message="tns:EnviarTramaTableroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarTramaGrabador">
      <wsdl:input message="tns:EnviarTramaGrabadorSoapIn" />
      <wsdl:output message="tns:EnviarTramaGrabadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarTramaSimpleGrabador">
      <wsdl:input message="tns:EnviarTramaSimpleGrabadorSoapIn" />
      <wsdl:output message="tns:EnviarTramaSimpleGrabadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImprimirTiquteEMP">
      <wsdl:input message="tns:ImprimirTiquteEMPSoapIn" />
      <wsdl:output message="tns:ImprimirTiquteEMPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImprimirTiqutePES">
      <wsdl:input message="tns:ImprimirTiqutePESSoapIn" />
      <wsdl:output message="tns:ImprimirTiqutePESSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImprimirTiquteDES">
      <wsdl:input message="tns:ImprimirTiquteDESSoapIn" />
      <wsdl:output message="tns:ImprimirTiquteDESSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LeerPeso">
      <soap:operation soapAction="http://tempuri.org/LeerPeso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarTramaTablero">
      <soap:operation soapAction="http://tempuri.org/EnviarTramaTablero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarTramaGrabador">
      <soap:operation soapAction="http://tempuri.org/EnviarTramaGrabador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarTramaSimpleGrabador">
      <soap:operation soapAction="http://tempuri.org/EnviarTramaSimpleGrabador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImprimirTiquteEMP">
      <soap:operation soapAction="http://tempuri.org/ImprimirTiquteEMP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImprimirTiqutePES">
      <soap:operation soapAction="http://tempuri.org/ImprimirTiqutePES" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImprimirTiquteDES">
      <soap:operation soapAction="http://tempuri.org/ImprimirTiquteDES" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LeerPeso">
      <soap12:operation soapAction="http://tempuri.org/LeerPeso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarTramaTablero">
      <soap12:operation soapAction="http://tempuri.org/EnviarTramaTablero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarTramaGrabador">
      <soap12:operation soapAction="http://tempuri.org/EnviarTramaGrabador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarTramaSimpleGrabador">
      <soap12:operation soapAction="http://tempuri.org/EnviarTramaSimpleGrabador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImprimirTiquteEMP">
      <soap12:operation soapAction="http://tempuri.org/ImprimirTiquteEMP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImprimirTiqutePES">
      <soap12:operation soapAction="http://tempuri.org/ImprimirTiqutePES" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImprimirTiquteDES">
      <soap12:operation soapAction="http://tempuri.org/ImprimirTiquteDES" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://192.168.2.11/servicioBascula/ServiceBascula.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://192.168.2.11/servicioBascula/ServiceBascula.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>